.container{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    width: 100%;
}

.container:hover{
    background-color: #2e374a;
}

.texts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
}

.button{
    background-color: #5d57c9;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: var(--text);
}